
@tailwind base;
@tailwind utilities; 
@tailwind components;

/* change in the global css for hiding the scroll bar in the Alumni_Internship.jsx component */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Opera */
}

