@import "tailwindcss";
=======
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide horizontal scrollbar but allow scroll */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Opera */
}
>>>>>>> 9e44a279732b6e834b308a4b2aa7cddc8c0c99ca
